.modal {
    background-color: var(--c-light);
    border: 1px solid var(--c-grayscale-50);
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
}

.modal .img {
    height: 400px;
    object-fit: cover;
}

.modal .tx:first-of-type {
    margin-bottom: .5em;
}