.title,
.tx,
.link {
    font-family: system-ui, sans-serif;
}

.title,
.title .link {
    font-weight: 500;
}

.tx {
    font-weight: 300; 
}

.link {
    font-weight: 400;
}

.header .title,
.header .link {
    color: var(--c-light);
}

.card .title {
    font-size: 2em;
    text-transform: uppercase;
    color: var(--c-light);
}

.card .tx {
    color: var(--c-grayscale-75);
}

.footer .link,
.footer .tx {
    color: var(--c-grayscale-25);
}

.modal .title {
    font-size: 2em;
    font-weight: 700;
    color: var(--c-grayscale-50);
}