.footer {
    background-color: var(--c-grayscale-75);
    padding-block: 2.5em;
}

.footer-legal {
    padding-bottom: 3.5em;
}

.footer-legal .tx-copyright {
    margin-top: .8em;
}

.footer-social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}